---
layout: default
title: Trang chủ
---

<section class="section first-section">
	<div class="container-fluid">
		<div class="masonry-blog clearfix">
			<div class="left-side">
				<div class="masonry-box post-media">
					<img src="{{ site.baseurl }}/assets/images/bai-noi-bat-1.png" alt="" class="img-fluid">
					<div class="shadoweffect">
						<div class="shadow-desc">
							<div class="blog-meta">
								<span class="bg-aqua"><a href="{% link _pages/outstanding-left.html %}" title="">Giới thiệu</a></span>
								<h4><a href="{% link _pages/outstanding-left.html %}" title="">Giới thiệu bản thân</a></h4>
								<small><a href="#" title="">10 Apr, 2021</a></small>
								<small><a href="#" title="">by Quinny</a></small>
							</div><!-- end meta -->
						</div><!-- end shadow-desc -->
					</div><!-- end shadow -->
				</div><!-- end post-media -->
			</div><!-- end left-side -->

			<div class="center-side">
				<div class="masonry-box post-media">
					<img src="{{ site.baseurl }}/assets/images/bai-noi-bat-22.png" alt="" class="img-fluid">
					<div class="shadoweffect">
						<div class="shadow-desc">
							<div class="blog-meta">
								<span class="bg-aqua"><a href="{% link _pages/outstanding-mid.html %}" title="">Outdoor</a></span>
								<h4><a href="{% link _pages/outstanding-mid.html %}" title="">1m5 Club: Phong cách ăn mặc đẹp của 1000 người phụ nữ chỉ 1m5</a></h4>
								<small><a href="#" title="">11 Apr, 2021</a></small>
								<small><a href="#" title="">by Quinny</a></small>
							</div><!-- end meta -->
						</div><!-- end shadow-desc -->
					</div><!-- end shadow -->
				</div><!-- end post-media -->
			</div><!-- end left-side -->

			<div class="right-side hidden-md-down">
				<div class="masonry-box post-media">
					<img src="{{ site.baseurl }}/assets/images/bai-noi-bat-3.png" alt="" class="img-fluid">
					<div class="shadoweffect">
						<div class="shadow-desc">
							<div class="blog-meta">
								<span class="bg-aqua"><a href="{% link _pages/outstanding-right.html %}" title="">Indoor</a></span>
								<h4><a href="{% link _pages/outstanding-right.html %}" title="">Chị Đẹp Nhật Thảo: Yêu thời trang và luôn biết nhược điểm bản thân để tìm ra sự lựa chọn phù hợp</a></h4>
								<small><a href="#" title="">11 Apr, 2021</a></small>
								<small><a href="#" title="">by Quinny</a></small>
							</div><!-- end meta -->
						</div><!-- end shadow-desc -->
					</div><!-- end shadow -->
				</div><!-- end post-media -->
			</div><!-- end right-side -->
		</div><!-- end masonry -->
	</div>
</section>

<section class="section wb">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
				<div class="page-wrapper">
					<div class="blog-list clearfix">
						{% for post in paginator.posts %}
							<div class="blog-box row">
								<div class="col-md-4">
									<div class="post-media">
										<a href="{{ post.url }}" title="">
											<img src="{{ post.image }}" alt="" class="img-fluid">
											<div class="hovereffect"></div>
										</a>
									</div><!-- end media -->
								</div><!-- end col -->

								<div class="blog-meta big-meta col-md-8">
									<span class="bg-aqua"><a href="{{ post.url }}" title="">{{ post.category }}</a></span>
									<h4><a href="{{ post.url }}" title="">{{ post.title }}</a></h4>
									<p>{{ post.excerpt }}</p>
									<small><a href="#" title=""><i class="fa fa-eye"></i>1887</a></small>
									<small><a href="#" title="">{{ post.date }}</a></small>
									<small><a href="#" title="">by {{ post.author }}</a></small>
								</div><!-- end meta -->
							</div><!-- end blog-box -->

							<hr class="invis">

						{% endfor %}

						<div class="row">
							<div class="col-lg-10 offset-lg-1">
								<div class="banner-spot clearfix">
									<div class="banner-img">
										<img src="{{ site.baseurl }}/assets/images/ads_2.png" alt="" class="img-fluid">
									</div><!-- end banner-img -->
								</div><!-- end banner -->
							</div><!-- end col -->
						</div><!-- end row -->

						<hr class="invis">
					</div><!-- end blog-list -->
				</div><!-- end page-wrapper -->

				<hr class="invis">

				<div class="row">
					<div class="col-md-12">
						<!-- Pagination links -->
						<nav aria-label="Page navigation">
							<ul class="pagination justify-content-start">
								{% if paginator.previous_page %}
									{% if paginator.previous_page == 1 %}
									<li class="page-item">
										<a class="page-link" href="/">&laquo;</a>
									</li>
									{% else %}
									<li class="page-item">
										<a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
									</li>
									{% endif %}
								{% else %}
									<li class="disabled page-item">
										<a class="page-link" href="#">&laquo; Prev</a>
									</li>
								{% endif %}
								{% if paginator.page == 1 %}
									<li class="active-blog page-item">
										<a class="page-link" href="#">1</a>
									</li>
								{% else %}
									<li class="page-item page-item">
										<a class="page-link" href="{% link tintuc/index.html %}">1</a>
									</li>
								{% endif %}
								{% for count in (2..paginator.total_pages) %}
									{% if count == paginator.page %}
										<li class="active-blog page-item">
											<a class="page-link" href="#">{{count}}</a>
										</li>
									{% else %}
										<li class="page-item">
											<a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', count }}">{{count}}</a>
										</li>
									{% endif %}
								{% endfor %}
								{% if paginator.next_page %}
									<li class="page-item">
										<a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
									</li>
								{% else %}
									<li class="disabled page-item">
										<a class="page-link" href="#">Next &raquo;</a>
									</li>
								{% endif %}
							</ul>
						</nav>
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end col -->

			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="widget">
						<h2 class="widget-title">Search</h2>
						<form class="form-inline search-form">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search on the site">
							</div>
							<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
						</form>
					</div><!-- end widget -->

					<div class="widget">
						<h2 class="widget-title">Recent Posts</h2>
						<div class="blog-list-widget">
							<div class="list-group">
								<a href="garden-single.html"
									class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="w-100 justify-content-between">
										<img src="{{ site.baseurl }}/assets/images/garden_sq_09.jpg" alt="" class="img-fluid float-left">
										<h5 class="mb-1">5 Beautiful buildings you need to before dying</h5>
										<small>12 Jan, 2016</small>
									</div>
								</a>

								<a href="garden-single.html"
									class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="w-100 justify-content-between">
										<img src="{{ site.baseurl }}/assets/images/garden_sq_06.jpg" alt="" class="img-fluid float-left">
										<h5 class="mb-1">Let's make an introduction for creative life</h5>
										<small>11 Jan, 2016</small>
									</div>
								</a>

								<a href="garden-single.html"
									class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="w-100 last-item justify-content-between">
										<img src="{{ site.baseurl }}/assets/images/garden_sq_02.jpg" alt="" class="img-fluid float-left">
										<h5 class="mb-1">Did you see the most beautiful sea in the world?</h5>
										<small>07 Jan, 2016</small>
									</div>
								</a>
							</div>
						</div><!-- end blog-list -->
					</div><!-- end widget -->

					<div class="widget">
						<h2 class="widget-title">Advertising</h2>
						<div class="banner-spot clearfix">
							<div class="banner-img">
								<img src="{{ site.baseurl }}/assets/images/banner_04.jpg" alt="" class="img-fluid">
							</div><!-- end banner-img -->
						</div><!-- end banner -->
					</div><!-- end widget -->

					<div class="widget">
						<h2 class="widget-title">Instagram Feed</h2>
						<div class="instagram-wrapper clearfix">
							<a href="#"><img src="{{ site.baseurl }}/assets/images/garden_sq_01.jpg" alt="" class="img-fluid"></a>
							<a href="#"><img src="{{ site.baseurl }}/assets/images/garden_sq_02.jpg" alt="" class="img-fluid"></a>
							<a href="#"><img src="{{ site.baseurl }}/assets/images/garden_sq_03.jpg" alt="" class="img-fluid"></a>
							<a href="#"><img src="{{ site.baseurl }}/assets/images/garden_sq_04.jpg" alt="" class="img-fluid"></a>
							<a href="#"><img src="{{ site.baseurl }}/assets/images/garden_sq_05.jpg" alt="" class="img-fluid"></a>
							<a href="#"><img src="{{ site.baseurl }}/assets/images/garden_sq_06.jpg" alt="" class="img-fluid"></a>
							<a href="#"><img src="{{ site.baseurl }}/assets/images/garden_sq_07.jpg" alt="" class="img-fluid"></a>
							<a href="#"><img src="{{ site.baseurl }}/assets/images/garden_sq_08.jpg" alt="" class="img-fluid"></a>
							<a href="#"><img src="{{ site.baseurl }}/assets/images/garden_sq_09.jpg" alt="" class="img-fluid"></a>
						</div><!-- end Instagram wrapper -->
					</div><!-- end widget -->

					<div class="widget">
						<h2 class="widget-title">Popular Categories</h2>
						<div class="link-widget">
							<ul>
								<li><a href="#">Gardening <span>(21)</span></a></li>
								<li><a href="#">Outdoor Living <span>(15)</span></a></li>
								<li><a href="#">Indoor Living <span>(31)</span></a></li>
								<li><a href="#">Shopping Guides <span>(22)</span></a></li>
								<li><a href="#">Pool Design <span>(66)</span></a></li>
							</ul>
						</div><!-- end link-widget -->
					</div><!-- end widget -->
				</div><!-- end sidebar -->
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end container -->
</section>