<!DOCTYPE html>
<html>

<head>
	<!-- <title>{{ site.title }}</title> -->

	{% include meta.html %}

	<!-- Site Icons -->
	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.png" type="image/x-icon" />
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png">

	<!-- Design fonts -->
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.css">
	<!-- FontAwesome Icons core CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
	<!-- Site CSS -->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/responsive.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/colors.css">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/version/garden.css">

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	{% seo %}
</head>

<body>

	<div id="wrapper">
		<div class="collapse top-search" id="collapseExample">
			<div class="card card-block">
				<div class="newsletter-widget text-center">
					<form class="form-inline">
						<input type="text" class="form-control" placeholder="What you are looking for?">
						<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
					</form>
				</div><!-- end newsletter -->
			</div>
		</div><!-- end top-search -->

		<div class="topbar-section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6 hidden-xs-down">
						<div class="topsocial">
							<a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i
									class="fa fa-facebook"></i></a>
							<a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i
									class="fa fa-youtube"></i></a>
							<a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i
									class="fa fa-pinterest"></i></a>
							<a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i
									class="fa fa-twitter"></i></a>
							<a href="#" data-toggle="tooltip" data-placement="bottom" title="Flickr"><i
									class="fa fa-flickr"></i></a>
							<a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i
									class="fa fa-instagram"></i></a>
							<a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i
									class="fa fa-google-plus"></i></a>
						</div><!-- end social -->
					</div><!-- end col -->

					<div class="col-lg-4 hidden-md-down">
					</div><!-- end col -->

					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
						<div class="topsearch text-right">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="false"
								aria-controls="collapseExample"><i class="fa fa-search"></i> Search</a>
						</div><!-- end search -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end header-logo -->
		</div><!-- end topbar -->

		<div class="header-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="logo">
							<a href="garden-index.html"><img
									src="{{ site.baseurl }}/assets/images/version/garden-logo.png" alt=""></a>
						</div><!-- end logo -->
					</div>
				</div><!-- end row -->
			</div><!-- end header-logo -->
		</div><!-- end header -->

		<header class="header">
			<div class="container">
				<nav class="navbar navbar-inverse navbar-toggleable-md">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Forest Timemenu"
						aria-controls="Forest Timemenu" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-md-center" id="Forest Timemenu">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link color-green-hover" href="{% link index.html %}">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link color-green-hover" href="{% link blogs/blogs.html %}">Gardening</a>
							</li>
							<li class="nav-item">
								<a class="nav-link color-green-hover" href="{% link blogs/blogs.html %}">Outdoor
									Living</a>
							</li>
							<li class="nav-item">
								<a class="nav-link color-green-hover" href="{% link blogs/blogs.html %}">Indoor
									Living</a>
							</li>
							<li class="nav-item">
								<a class="nav-link color-green-hover" href="{% link blogs/blogs.html %}">Shopping
									Guides</a>
							</li>
							<li class="nav-item">
								<a class="nav-link color-green-hover" href="{% link contact/contact.html %}">Contact</a>
							</li>
						</ul>
					</div>
				</nav>
			</div><!-- end container -->
		</header><!-- end header -->

		{{ content }}

		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2">
						<div class="widget">
							<div class="footer-text text-center">
								<a href="index.html"><img
										src="{{ site.baseurl }}/assets/images/version/garden-footer-logo.png" alt=""
										class="img-fluid"></a>
								<p>Forest Time is a personal blog for handcrafted, cameramade photography content,
									fashion styles from independent creatives around the world.</p>
								<div class="social">
									<a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i
											class="fa fa-facebook"></i></a>
									<a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i
											class="fa fa-twitter"></i></a>
									<a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i
											class="fa fa-instagram"></i></a>
									<a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i
											class="fa fa-google-plus"></i></a>
									<a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i
											class="fa fa-pinterest"></i></a>
								</div>

								<hr class="invis">

								<div class="newsletter-widget text-center">
									<form class="form-inline">
										<input type="text" class="form-control" placeholder="Enter your email address">
										<button type="submit" class="btn btn-primary">Subscribe <i
												class="fa fa-envelope-open-o"></i></button>
									</form>
								</div><!-- end newsletter -->
							</div><!-- end footer-text -->
						</div><!-- end widget -->
					</div><!-- end col -->
				</div>

				<div class="row">
					<div class="col-md-12 text-center">
						<br>
						<br>
						<div class="copyright">&copy; Forest Time. Design: <a href="#">Duc Do</a>.</div>
					</div>
				</div>
			</div><!-- end container -->
		</footer><!-- end footer -->

		<div class="dmtop">Scroll to Top</div>

	</div><!-- end wrapper -->

	<!-- Core JavaScript
    ================================================== -->
	<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/tether.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/custom.js"></script>

</body>

</html>